html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white;
  box-sizing:border-box;
}

header, footer{
  background-color: #4fa7d6;
}
body {
  margin: 0;
  padding: 0;
}

div {
  background-color: white;
  padding: 0.5% 0;
  display: flex;
  align-items: center; 
  position: relative;
}

#logo {
  font-style: italic;
  padding-left: 5%;
}

ul {
  list-style-type: none;
  margin: 0;
  margin-left: 3%;
  padding: 0%;
  display: flex; 
  justify-content: center; /* Centers the nav items in the middle */
  gap: 30px; /* spacing between list items */
}

li a {
  color: black;
  text-align: center;
  padding: 15px;
  text-decoration: none; /* Clean up link styling */
  font-size: 16px;

}

li a:hover {
  background-color: #4fa7d6;
  color: white; 
  border-radius: 30px;
}

#sign {
  position: absolute;
  top: 22%;
  right: 1%;
  background-color: #4fa7d6;
  color: antiquewhite;
  font-style: italic;
  padding: 15px 25px;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  white-space: nowrap; /* Prevents text wrapping */
}

#sign:hover {
  color: black;
}

table {
  padding: 1vw;
  width: 100%;
}

td {
  color: antiquewhite;
}

#image{
  background-color: white;
  padding: 0;
  width: 40%;
  margin: 0%;
}

#text{
  margin: 1%;
  font-style: italic;
  text-align:center;
  
}

#discover {
  position: absolute;
  top: 110%;
  left: 37%;
  display:inherit;
  background-color: #4fa7d6;
  color: antiquewhite;
  font-style: italic;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1.5vw;
  border-radius: 30px;
  transition: background-color 0.3s, color 0.3s;
}

#discover:hover {
  background-color: #367bbd; 
  color: white;
}


#Why{
  margin: 15%;
  text-align: center;
  font-size: 3vw; 
}
