html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white;
  box-sizing:border-box;
}

header, footer{
  background-color: #4fa7d6;
}
body {
  margin: 0;
  padding: 0;
}

div {
  background-color: white;
  padding: 0% 0%;
  display: flex;
  align-items: center; 
  position: relative;
  gap: 1%;
  
}

.navbar #logo {
  font-style: italic;
  padding-left: 5%;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  margin-left: 3%;
  display: flex; 
  gap: 5%; /* spacing between list items */
}

.navbar ul li{
  position: relative;
}
.navbar ul li a {
  color: black;
  text-align: center;
  padding: 1vw 2vw;
  text-decoration: none; /* Clean up link styling */
  font-size: 80%;

}

.navbar ul li a:hover {
  color: rgb(9, 184, 26); 
}
.navbar ul li ul.sub-nav{
  position: absolute;
  background-color: #4fa7d6;
  width: auto;
  height: auto;
  display: none;
  z-index: 1;
  left: 0;
  margin-top: 3%;
}

.navbar ul li ul.sub-nav li {
  margin-left: -40%;
  margin-right: 45%;
}

.navbar ul li ul.sub-nav li a{ 
  color: white;
  font-size: large;
  padding: 10px;
  text-align: left;
  display: flex;
}

.navbar ul li ul.sub-nav li a:hover {
  background-color: #4fa7d6;
  color: white; 
  text-decoration: underline;
}

.navbar ul li:hover ul.sub-nav{
  display: block;
}

.navbar input[type=text]{
  margin-left: 5%;
 font-size: 1vw;
}

@media (max-width: 768px) {
  .navbar input[type="text"]{
    display: none;   }       
}

.navbar a{
  text-decoration: none;
  color: black;
}

#sign {
  position: absolute;
  right: 1vw;
  background-color: #4fa7d6;
  color:white;
  font-style: italic;
  padding: 1vw 1.4vw;
  border-radius: 2vw;
  text-align: center;
  cursor: pointer;
  font-size: 1vw;
  transition: all 0.1s ease-in-out;
}

#sign:hover {
  color: black;
}

table {
  padding: 1vw;
  width: 100%;
}

td {
  color: white;
}
#top{
  border-style:groove;
  border-width: 5%;
  padding: 0;
  border-right: none;
  border-left: none;
  border-color:rgb(99, 93, 93);
}
#image{
  width: 40%;
  border-spacing: 0;
}

#text{
  margin: 0%;
  text-align:center;
  font-size:1.2vw;
}

#discover {
  position: absolute;
  top: 100%;
  left: 37%;
  display:inherit;
  background-color: #4fa7d6;
  color: White;
  font-style: italic;
  padding: 8px 17px;
  text-decoration: none;
  font-size: 1.5vw;
  border-radius: 30px;
  transition: background-color 0.3s, color 0.3s;
}

#discover:hover {
  background-color: #367bbd; 
  color: white;
}


  


