/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header Styles */
header {
    background-color:#10273C;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}


/* Button Styles */

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.btn-primary1{
    position: absolute;
    left: 20px;
    top: 5%;
    transform: translateY(-50%);
    background-color: #556c97;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
}
.btn-primary1:hover{
    background-color: #bbb425;
}
.btn-primary {
    background-color: #556c97;
    color: white;
}

.btn-primary:hover {
    background-color: #bbb425;
}

.btn-danger {
    position: absolute;
    right: 20px;
    top: 5%;
    transform: translateY(-50%);
    background-color: #556c97;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
}

.btn-danger:hover {
    background-color:  #a01111;
}

/* Card Styles */
.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

/* Form Group Styling */
.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Layout for Two Columns */
.dashboard-container {
    display: flex;
    justify-content: space-between;
}

.half-width {
    width: 48%;
}

/* Media Queries */
@media (max-width: 768px) {
    .dashboard-container {
        flex-direction: column;
    }
    
    .half-width {
        width: 100%;
    }
}
