html, body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

div {
  max-width: 100%;
  background-color: white;
  padding: 0% 0%;
  display: flex;
  align-items: center; 
  position: relative;
  gap: 1%;
  
}

.navbar{
  background-color: #00293c;
}
.navbar #C{
  color: white;
}
.navbar p{
  padding-left: 3%;
  color: white;

}
.navbar #logo {
  font-style: italic;
  color: white;
  height: 5vw;
  width: 5vw;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  margin-left: 2%;
  display: flex; 
  gap: 5%; /* spacing between list items */
}

.navbar ul li{
  position: relative;
}
.navbar ul li a {
  color: white;
  text-align: center;
  padding: 1vw 2vw;
  text-decoration: none; /* Clean up link styling */
  font-size: 80%;

}

.navbar ul li a:hover {
  color: #e9bd4e; 
}
.navbar ul li ul.sub-nav{
  position: absolute;
  background-color:#00293c;
  width: auto;
  height: auto;
  display: none;
  z-index: 1;
  left: 0;
  margin-top: 10%;
}

.navbar ul li ul.sub-nav li {
  margin-left: -35px;
  margin-right: 35px;
}

.navbar ul li ul.sub-nav li a{ 
  color: white;
  font-size-adjust: 2vw;
  padding: 1vw;
  text-align: left;
  display: flex;
}

.navbar ul li ul.sub-nav li a:hover {
  color: #e9bd4e;
  text-decoration: underline;
}

.navbar ul li:hover ul.sub-nav{
  display: block;
}

.navbar input[type=text]{
  margin-left: 5%;
 font-size: 1vw;
}

@media (max-width: 768px) {
  .navbar input[type="text"]{
    display: none;   }       
}

.navbar a{
  text-decoration: none;
  color: black;
}

#sign {
  position: absolute;
  right: 1vw;
  background-color:#cfd8e6;
  font-style: italic;
  padding: 1vw 1.4vw;
  border-radius: 2vw;
  text-align: center;
  cursor: pointer;
  font-size: 1vw;
  transition: all 0.1s ease-in-out;
  max-width: calc(100% - 2vw);
}

#sign:hover {
  background-color: #e9bd4e;
}

table {
  padding: 1vw;
  width: 100%;
  box-sizing: border-box;
}

td {
  color: black;
}

.top {
  padding: 5% 8%;
  background-color: #cfd8e6; /* Light Gray/Blue from your palette */
  border-radius: 1%;
  margin: 2% 5%;
  text-align: center;
}

.top h2 {
  font-size: 2.5vw;
  color: #00293c; /* Dark Blue from your palette */
  margin-bottom: 5%;
  font-family: 'Arial', sans-serif;
}

.top p {
  font-size: 18px;
  color: #555;
  font-family: 'Arial', sans-serif;
}

#services {
  max-width: 100%;
  padding: 50px 0px;
  text-align: center;
}

.services-container {
  justify-content: center;
  gap: 1%;
}

.services-container img {
  height: 15%;
  width: 15%;
  display:inline;
 
}

.service h3 {
  font-size: 1.5rem;
  margin-top: 10px;

}

.service p {
  font-size: 1vw;
  color: #555;
 
}


footer{
  font-family: 'Times New Roman', Times, serif;
  max-width: 100%;
}

.footer-content{
  background-color: #00293c;
  color: #fff;
  display: block;
  border-top: 5px solid #c89d2f;
}

.footer-links{
  max-width: 100%;
  font-size: 10%;
  list-style-type: none;
  display: flex;
  gap: 4%;
  padding-bottom: 2%;
  font-size: 12px;
  justify-content: center;
}

.footer-content p{
  margin: 3% 0% 1% 0;
  font-size: 12px;
  text-align: center;
}

.footer-links a{
  color: #fff;
  text-decoration: none;
  font-size: 12px;
}

.footer-links a:hover {
  color: #c89d2f; 
}

