html, body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

header{
  width: 100%;
  background-color: #c89d2f;
  height: 8%;
}
/*navbar section*/
.navbar{
  background-color: #00293c;
  max-width: 100%;
  padding: 0% 0%;
  display: flex;
  align-items: center; 
  position: relative;
  gap: 1%;  
}
.navbar #Cart{
  color: white;
  margin-left: 35%;
  transition: all 0.01s ease-in-out; /**smooth transition effect**/
  max-width: calc(100% - 2vw);
}

@media (max-width: 768px) {
  .navbar #Cart {
      margin-left: -1%; 
      transform: translateX(0);
      font-size: 1.5vw;
  } }

.navbar p{
  padding-left: 3%;
  color: white;

}
.navbar #logo {
  font-style: italic;
  color: white;
  height: 5vw;
  width: 5vw;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  margin-left: 0;
  display: flex; 
  gap: 5%; 
}

.navbar ul li{
  position: relative;
}
.navbar ul li a {
  color: white;
  text-align: center;
  padding: 1vw 2vw;
  text-decoration: none;
  font-size: 80%;

}

.navbar ul li a:hover {
  color: #e9bd4e; 
}
.navbar ul li ul.sub-nav{
  position: absolute;
  background-color:#00293c;
  width: auto;
  height: auto;
  display: none;
  z-index: 1;
  left: 0;
  margin-top: 10%;
}

.navbar ul li ul.sub-nav li {
  margin-left: -35px;
  margin-right: 35px;
}

.navbar ul li ul.sub-nav li a{ 
  color: white;
  font-size-adjust: 2vw;
  padding: 1vw;
  text-align: left;
  display: flex;
}

.navbar ul li ul.sub-nav li a:hover {
  color: #e9bd4e;
  text-decoration: underline;
}

.navbar ul li:hover ul.sub-nav{
  display: block;
}

#sign {
  position: absolute;
  right: 1vw;
  background-color:#cfd8e6;
  font-style: italic;
  padding: 1vw 1.4vw;
  border-radius: 2vw;
  text-align: center;
  cursor: pointer;
  font-size: 1vw;
  transition: all 0.1s ease-in-out;
  max-width: calc(100% - 2vw);
}

#sign:hover {
  background-color: #e9bd4e;
}

/*WELCOME MESSAGE*/
.top {
  padding: 5% 8%;
  background-color: #cfd8e6;
  border-radius: 1%;
  margin: 2% 2%;
  text-align: center;
}

.top h2 {
  font-size: 2.5vw;
  color: #00293c; 
  margin-bottom: 5%;
  font-family: 'Arial', sans-serif;
}

.top p {
  font-size: 18px;
  color: #555;
  font-family: 'Arial', sans-serif;
}

.top a:hover{
  color: #c89d2f;
}

/* what do we offer section*/
#services {
  max-width: 100%;
  padding: 5% 5%;
  text-align: center;
  margin-bottom: 3%;
}

.services-container {
  justify-content: center;
  gap: 1vw;
  display: inline-flex;
}

.services-container img {
  height: auto;
  width: 45%;
  display:inline;
  padding-top: 7%;
  border-radius: 70%;
 
}

.service h3 {
  font-size: 2vw;
  margin-top: 5%;
  color:#00293c ;

}

.service p {
  font-size: 0.8rem;
  color: #555;
  padding-top: -10%;
}

#discover {
  background-color:#00293c;
  color: white;
  font-style: italic;
  padding: 1% 2%;
  text-decoration: none;
  font-size: 1vw;
  border-radius: 30px;
  transition: background-color 0.3s, color 0.3s;
  position: relative;
  top:4vw;
}

#discover:hover {
  background-color:#c89d2f; 
}

/* how it works section */
#how-it-works {
  max-width: 100%;
  padding: 5% 5%;
  background-color:#f6f6f6;
  text-align: center;
}

.how-it-works-container {
  justify-content: center;
  gap: 10px;
  
}

.step img {
  height: 100px;
  width: 100px;
  display:inline;
  padding-top: 5%;
  border-radius: 2%;
}

.step h3 {
  font-size: 1.5vw;
  margin-top: 10px;
  color:#00293c;
}

.step p {
  font-size: 0.8rem;
  color: #555;
  margin-top: -25%;
  display: inline-flex;
}

/* WHY CHOOSE US SECTION*/
#why-choose-us {
  max-width: 100%;
  padding: 4% 10%;
  text-align: center;
  background-color: #00293c;
  color: #cfd8e6;
  margin-bottom: 3%;
}

.why-us-container {
  justify-content: center;
  gap: 10%;
  display:flex;
}

.reason {
  text-align: center;
  flex: 1;
}
.reason img {
  height: 100px;
  width: 100px;
  padding-top: 7%;
  border-radius: 50%;
}

.reason h3 {
  font-size: 1vw;
  margin-top: 5%;
  color:#c89d2f;
}

.reason p {
  font-size: 0.7rem;
  color:#cfd8e6;
  padding-top: -10%;
}

/*footer css*/
footer{
  font-family: 'Times New Roman', Times, serif;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.footer-content{
  background-color: #00293c;
  color: #fff;
  display: block;
  border-top: 5px solid #c89d2f;
}

.footer-links{
  max-width: 100%;
  font-size: 10%;
  list-style-type: none;
  display: flex;
  gap: 4%;
  padding-bottom: 2%;
  font-size: 12px;
  justify-content: center;
}

.footer-content p{
  margin: 3% 0% 1% 2%;
  font-size: 12px;
  text-align: center;
}

.footer-links a{
  color: #fff;
  text-decoration: none;
  font-size: 12px;
}

.footer-links a:hover {
  color: #c89d2f; 
}

