body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}




header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #00293c;
    color: white;
}


.header-left .home-button {
    font-size: 18px;
    color: #00293c; 
    text-decoration: none;
    padding: 10px 15px;
    background-color: #cfd8e6; 
    border-radius: 8px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.header-left .home-button i {
    margin-right: 8px; 
}

.header-left .home-button:hover {
    background-color: #c89d2f; 
    color: #00293c; 
}


.header-center h1 {
    font-size: 28px;
    text-align: center;
    color: white;
}


.header-right .logout-button {
    font-size: 18px;
    color: #00293c; 
    text-decoration: none;
    padding: 10px 15px;
    background-color: #cfd8e6; 
    border-radius: 8px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.header-right .logout-button i {
    margin-right: 8px; 
}

.header-right .logout-button:hover {
    background-color: #ff4b5c; 
    color: white;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    color: #556c97;
    border-bottom: 2px solid #bbb425;
    padding-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #bbb425;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #556c97;
    color: white;
}

tr:nth-child(even) {
    background-color: #e9e9e9;
}

button {
    background-color: #bbb425;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

button:hover {
    background-color: #9a9e30;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #00293c;
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content p {
    margin: 10px 0;
    font-size: 16px;
}

.footer-links {
    list-style-type: none;
    padding: 0;
    margin: 15px 0;
    display: flex;
    justify-content: center;
}

.footer-links li {
    margin: 0 15px;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #c89d2f; 
}

.social-media {
    margin-top: 10px;
}

.social-media a {
    color: #fff;
    font-size: 18px;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: #c89d2f; 
}

